* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: lightgrey;
}
.table {
  border: 3px solid grey;
  width: auto;
  padding: 4px;
  margin: 16px;
  border-radius: 4px;
  border-collapse: collapse;
  background-color: white;
}

.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addBook,
.getBooks,
.addLibrary,
.delete-library {
  font-size: 18px;
  width: 140px;
  font-weight: 600;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  padding: 4px 8px 4px;
  border: 2px solid grey;
  margin: 8px;
}



.addLibrary, .getBooks, .delete-library   {
  text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.addBook {
  margin: 8px;
  margin-top: 16px;
  background-color: white;
  color: black;
}

.form {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 3px solid grey;
  padding: 32px;
  border-radius: 4px;
  margin: 16px;
  background-color: #2196f3;
}

form.active {
  display: flex;
}

.form-container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
}

.readit {
  margin: 4px;
}

.checkbox {
  height: 2rem;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 4px;
}

.checkbox:checked {
  background-color: #2196f3;
}
.checkbox:hover {
  background-color: grey;
}

.yes {
  margin: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.center {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600;
  padding: 4px;
}

.cody {
  color: #2196f3;
  margin: 4px;
}

.toggle-read {
  width: 50px;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  padding: 4px;
  border: 2px solid gray;
}

.delete {
  width: 80px;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  padding: 4px;
  border: 2px solid gray;
}

td {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 8px;
  border: 2px solid grey;
  padding: 6px;
}

th {
  font-size: 24px;
  padding: 8px;
  color: white;
  text-shadow: 
        -1px -1px 0 #555555,  
         1px -1px 0 #555555,
        -1px  1px 0 #555555,
         1px  1px 0 #555555;
}

thead {
  background-color: #2196f3;
  border: 2px solid #555555;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin: 8px;
}

label {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  text-shadow: 
        -1px -1px 0 #555555,  
         1px -1px 0 #555555,
        -1px  1px 0 #555555,
         1px  1px 0 #555555;
}

.input-box {
  width: 250px;
  border: 2px solid grey;
}

h1 {
  color: white;
  text-shadow: 
        -1px -1px 0 #555555,  
         1px -1px 0 #555555,
        -1px  1px 0 #555555,
         1px  1px 0 #555555;
         margin-bottom: 16px;
}
